{
    "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {
            //for targets check package.json
            //"targets": {}
            "useBuiltIns": "usage",
            "corejs": "3"
        }]
    ],

    "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        "babel-plugin-dynamic-import-webpack",
        "@babel/plugin-proposal-class-properties"
    ]
}
